# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
dist/
build/

# Virtual environment
venv/
.venv/

# Django
db.sqlite3
staticfiles/
*.log

# Environment
.env

# IDE
.vscode/
.idea/
*.swp
*.swo
.DS_Store
